.loginp {
    display: block;
    width: 100%;
}

.loginform {
    width: 100%;
    display: block;
    position: relative;
    background-color: #ffffff;
}

.login__label {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
    gap: .4rem;
    border: solid 1px var(--color-fondo-alt);
    background-color: var(--color-fondo-alt);
    border-radius: 10px;
}

.login__icon {
    background-color: transparent;
    display: block;
    width: 1.4rem;
    margin-left: 1rem;
    margin-right: .4rem;
    fill: rgba(0, 0, 0, .5);
}

.login__input {
    border: none;
    padding: 1rem 1rem 1rem 0;
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-content);
    background-color: transparent;
    color: var(--color-content);
}

.login__submit {
    cursor: pointer;
    background-color: #3ab19b;
    color: #ffffff;
    border-radius: 10px;
}

.login__submit:hover {
    background-color: #30a18d;
}

.input__disabled {
    cursor: progress;
    opacity: .6;
}

.response {
    margin-top: 1.5rem;
    display: block;
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px;
    font-family: var(--font-content);
    font-size: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

.addani {
    animation: 1.1s viewmsg forwards ease-in-out;
}

@keyframes viewmsg {
    0% {
        transform: translateY(0);
    }

    25%, 75% {
        transform: translateY(4.7rem);
    }
}

.response__error {
    background-color: #FF616D;
    color: #ffffff;
    opacity: 1;
}

.response__true {
    background-color: #5EAAA8;
    color: #ffffff;
    opacity: 1;
}

.login__title {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-family: var(--font-title);
    color: #3ab19b;
}

.login__check {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--font-content);
    position: relative;
    padding-left: 2rem;
}

.checked {
    left: 0;
    content: "";
    position: absolute;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--color-content);
}

.login__check input[type="checkbox"] {
    display: none;
}

.input__email:invalid {
    color: #FF616D;
}

.input__email:valid {
    color: var(--color-content);
}

.input__alert {
    font-family: var(--font-content);
    color: var(--color-content);
    color: #FF616D;
    margin-bottom: 1.5rem;
    text-align: center;
    display: none;
    z-index: -100000;
}

.err {
    display: block;
    animation: .3s error linear;
}

@keyframes error {
    0% {
        color: transparent;
        display: none;
        transform: translateY(-3rem);
    }
    25%, 50% {
        color: transparent;
        display: none;
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}
