/*===================
*  NORMALIZE STYLE  *
===================*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*===================
*       FONTS       *
===================*/

@font-face {
    font-family: 'Inerta';
    src: url('./assets/inerta/Inerta.woff') format('woff');
}

@font-face {
    font-family: 'Dating';
    src: url('./assets/dating/Dating.woff') format('woff');
}

/*===================
*     VARIABLES     *
===================*/

:root {
    --color-fondo: #ffffff;
    --color-fondo-alt: #ececec;
    --color-content: #353535;
    --color-title: #D54C4C;
    --font-title: 'Dating';
    --font-content: 'Inerta';
    --size-title: 1rem;
}

/*===================
*       GLOBAL      *
===================*/

body {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-fondo);
}
